@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden !important;
}

.cm-scroller {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#krinj-editor {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
